<!--
This is the component view that represents the 'Eventos' tab.
Feel free to customize layouts and components to change how the tab view looks.
-->
<StackLayout class="page page-content" tkMainContent>
    <StackLayout class="page-header">
        <Button class="btn btn-primary btn-rounded-xsm btn-active" text="Acadêmicos" (tap)="academics()"></Button>
        <Button class="btn btn-primary btn-rounded-xsm btn-active" text="Cultura e Lazer" (tap)="cultureAndRecreation()"></Button>
        <Button class="btn btn-primary btn-rounded-xsm btn-active" text="Grupos de Debate" (tap)="debateGroups()"></Button>
    </StackLayout>

    <StackLayout class="post-listing" *ngIf="checkIf(0)">
        <Label text="ACADÊMICOS"></Label>
    </StackLayout>

    <StackLayout class="post-listing" *ngIf="checkIf(1)">
        <Label text="CULTURA E LAZER"></Label>
    </StackLayout>

    <StackLayout class="post-listing" *ngIf="checkIf(2)">
        <Label text="GRUPO DE DEBATE"></Label>
    </StackLayout>
</StackLayout>