<!--
This is the component view that represents the 'Home' tab.
Feel free to customize layouts and components to change how the tab view looks.
-->
<ScrollView>
    <StackLayout class="page page-content" tkMainContent>

        <StackLayout class="page-header">
            <Button class="btn btn-primary btn-rounded-xsm btn-active" text="Grupos de Estudo" (tap)="studyGroups()"></Button>
            <Button class="btn btn-primary btn-rounded-xsm btn-active" text="Troca de Aulas" (tap)="lessonExchange()"></Button>
            <Button class="btn btn-primary btn-rounded-xsm btn-active" text="Aulas Particulares" (tap)="privateLessons()"></Button>
        </StackLayout>

        <StackLayout class="post-listing" *ngIf="checkIf(0)">
            <Label text="GRUPOS DE ESTUDO"></Label>
            <Button text="Adicionar grupo de estudo" (tap)="studyGroupForm()"></Button>
            <StackLayout>
                <Button text="Encontre seu grupo" (tap)="testThisShit()"></Button>
                <StackLayout class="post-list" *ngFor="let post of loadedPosts">
                    <StackLayout class="post-container">
                        <StackLayout class="header">
                            <Label class="post-value" [text]="post.postTitle"></Label>
                        </StackLayout>
                        <Label class="post-value" [text]=" 'Matéria: ' + post.subject"></Label>
                        <Label class="post-value" [text]="'Descrição: ' + post.observations "></Label>
                        <Label class="post-value" [text]=" 'Tags: ' + post.tags"></Label>
                        <Button class="comment-button" text="Mensagens"></Button>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>

        <StackLayout class="post-listing" *ngIf="checkIf(1)">
            <Label text="TROCA DE AULAS"></Label>
        </StackLayout>

        <StackLayout class="post-listing" *ngIf="checkIf(2)">
            <Label text="AULAS PARTICULARES"></Label>
        </StackLayout>

    </StackLayout>
</ScrollView>
