<!--
This is the component view that represents the 'Home' tab.
Feel free to customize layouts and components to change how the tab view looks.
-->
<ScrollView>
    <StackLayout class="page page-content" tkMainContent>
        <StackLayout class="page-header">
            <Button class="btn btn-primary btn-rounded-xsm btn-active" text="Grupos de Estudo" (tap)="studyGroups()"></Button>
            <Button class="btn btn-primary btn-rounded-xsm btn-active" text="Troca de Aulas" (tap)="lessonExchange()"></Button>
            <Button class="btn btn-primary btn-rounded-xsm btn-active" text="Aulas Particulares" (tap)="privateLessons()"></Button>
        </StackLayout>

        <StackLayout class="post-listing" *ngIf="checkIf(0)">
            <DockLayout class="option-header">
                <Button dock="right" text="Crie" (tap)="studyGroupForm()"></Button>
                <Label dock="left" class="option-title" text="GRUPOS DE ESTUDO"></Label>
            </DockLayout>
            <StackLayout>
                <TextField hint="Filtre por tag"
                [(ngModel)]="queryTag" ></TextField>
                <Button class="btn btn-primary btn-rounded-xsm btn-active" text="Encontre seu grupo"
                (tap)="loadStudyGroup()"></Button>
                <StackLayout class="post-list" *ngFor="let post of loadedPostsGroup">
                    <StackLayout class="post-container">
                        <DockLayout class="header" stretchLastItem="false">
                            <Button dock="right" class="comment-button" text="Mensagens"></Button>
                            <Label dock="left" class="post-value" [text]="post.postTitle"></Label>
                        </DockLayout>
                        <Label class="post-value" [text]=" 'Matéria: ' + post.subject"></Label>
                        <Label class="post-value" [text]="'Descrição: ' + post.observations "></Label>
                        <Label class="post-value" [text]=" 'Tags: ' + post.tags"></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout class="post-listing" *ngIf="checkIf(1)">
            <DockLayout class="option-header">
                <Button dock="right" text="Novo" (tap)="lessonExchangeForm()"></Button>
                <Label dock="left" class="option-title" text="Troca de aulas"></Label>
            </DockLayout>
            <TextField hint="Filtre por tag"
                [(ngModel)]="queryTag" ></TextField>
            <Button class="btn btn-primary btn-rounded-xsm btn-active" text="Encontre ajuda" (tap)="loadLessonExchange()"></Button>
            <StackLayout class="post-list" *ngFor="let post of loadedPostsExchange">
                <StackLayout class="post-container">
                    <DockLayout class="header" stretchLastItem="false">
                        <Button dock="right" class="comment-button" text="Mensagens"></Button>
                        <Label dock="left" class="post-value" [text]="post.postTitle"></Label>
                    </DockLayout>
                    <Label class="post-value" [text]=" 'Matéria: ' + post.subject"></Label>
                    <Label class="post-value" [text]="'Descrição: ' + post.observations "></Label>
                    <Label class="post-value" [text]=" 'Tags: ' + post.tags"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>

        <StackLayout class="post-listing" *ngIf="checkIf(2)">
            <DockLayout class="option-header">
                <Button dock="right" text="Novo" (tap)="privateLessonsForm()"></Button>
                <Label dock="left" class="option-title" text="Aulas Particulares"></Label>
            </DockLayout>
            <TextField hint="Filtre por tag"
            [(ngModel)]="queryTag" ></TextField>
            <Button class="btn btn-primary btn-rounded-xsm btn-active" text="Encontre ajuda" (tap)="loadPrivateLesson()"></Button>
            <StackLayout class="post-list" *ngFor="let post of loadedPostsPrivate">
                <StackLayout class="post-container">
                    <DockLayout class="header" stretchLastItem="false">
                        <Button dock="right" class="comment-button" text="Mensagens"></Button>
                        <FlexboxLayout dock="left" class="test-dock">
                            <Label class="post-value" [text]="post.postTitle"></Label>
                        </FlexboxLayout>
                    </DockLayout>
                    <Label class="post-value" [text]=" 'Matéria: ' + post.subject"></Label>
                    <Label class="post-value" [text]="'Descrição: ' + post.observations "></Label>
                    <Label class="post-value" [text]=" 'Tags: ' + post.tags"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>

    </StackLayout>
</ScrollView>
